

body {
	background-image: url('images/landscape.jpeg');
	
	width: 100%;
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	background-attachment: fixed;
	

}

.profile {
	vertical-align: middle;
  width: 150px;
  right: 50px;
  top: 450px;
  border-radius: 50%;
  position: fixed;


} 


h1 {	
	
	
    
	
	
    
	font-size:70px;
    font-weight:bold;
	
	
}
h2 {
	background-size: ;
	
	
}
.subheadings {
	font-size: 30px;
	
	
}
.subheadings:hover {
	color:blue;
	
}
img {
  border: 1px solid green;
  border-radius: 4px;
  padding: 5px;
  width: 150px;
  
} 
img:hover {
  box-shadow: 0 0 2px 1px rgba(0, 140, 186, 0.5);
}
	




